html, body {
	height: 100%;
}

body {
	font-family: 'Noto Sans', sans-serif;
}

a {
 	color: #225BAF;
 	text-decoration: none;
}
a:hover {
	color: #133465;
	text-decoration: underline;
}

.wrap {
	display: table;
	height: 100%;
}

.sidebar, .content {
	display: table-cell;
	vertical-align: top;
}

.sidebar {
	width: 350px;
	padding: 2em 0;
	text-align: right;
	background: #3A629C;
}
.sidebar .header {
	margin: 50% 2em 0;
}
.sidebar .header a:hover {
	text-decoration: none;
}
.sidebar .title {
	font-size: 4em;
	color: #FFF;
	font-weight: 100;
}

.blog_nav {
	width: 350px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.blog_nav a, .blog_nav .blog_nav_header {
	color: #FFF;
	display: block;
	white-space: nowrap;
	line-height: 1.5em;
	padding: 5px 2em 5px 20px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.blog_nav a:hover {
	background: #6D94CE;
	text-decoration: none;
}
.blog_nav_header {
	font-size: 90%;
	text-transform: uppercase;
	margin-top: .5em;
	border-bottom: 1px solid #FFF;
}

.content {
	max-width: 960px;
}

@media (max-width: 767px) {
	.sidebar, .content {
		display: block;
	}
	.sidebar .header {
		margin-top: 4em;
	}
	.sidebar, .blog_nav {
		width: 100%;
	}
}

.breadcumbs, .pagination {
	margin: 2em;
	padding: 0;
}

.pagination {
	text-align: center;
}

.pagination .previous, .pagination .next, .pagination .page_number {
	background: #808080;
	padding: 5px 10px;
	color: #FFF;
	text-decoration: none;
}

.pagination a:hover {
	opacity: 0.6;
} 

.pagination .page_number {
	margin: 0 10px;
	padding: 5px 15px;
	opacity: 0.7;
}

.breadcumbs li {
	list-style: none;
	display: inline;
}

.post {
	margin: 2em;
}

.post-title {
	font-size: 1.5em;
	margin: 0.83em 0;
}
.post-header .post-title a {
	color: black;
	text-decoration: none;
}
.post-header .post-title a:hover {
	color: black;
	text-decoration: none;
}


.post-date {
	font-size: 90%;
	color: #5f5f5f;
}

.post-category {
	margin: 0 0.1em;
	padding: 0.3em 1em;
	color: #FFF;
	background: #808080;
	font-size: 80%;
	opacity: 1;
	text-decoration: none;
	margin-left: 5px;
}
.post-category:hover {
	color: #FFF;
	text-decoration: none;
	opacity: 0.7;
}
.post-category-js {
	background: #DF2D4F;
}
.post-category-angular {
	background: #DD1B16;
}
.post-category-Cats {
	background: #5aba59;
}

.highlight {
	background: #F4F4F4;
	border: 1px solid #BBB;
}
.highlight pre {
	word-break: break-word;
	overflow-x: auto;
	margin: 1em;
}