<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{site.baseurl }}/css/style.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{ page.title }} | Catatron</title>
  </head>

  <body>
    <div class="pure-g-r">
      <div class="pure-u sidebar">
        <header class="header pure-u-1">
            <hgroup>
                <h1>Catatron</h1>
                <h2>Блог о фронтендах, котах и о роли кошачьих во фронтенд-разработке</h2>
            </hgroup>

            <nav class="pure-menu pure-menu-open">
              <ul>
                  <li><a href="#">Flickr</a></li>
                  <li><a href="#">Messenger</a></li>
                  <li><a href="#">Sports</a></li>
                  <li><a href="#">Finance</a></li>
                  <li class="pure-menu-heading">More Sites!</li>
                  <li><a href="#">Games</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">OMG!</a></li>
              </ul>
            </nav>
        </header>
      </div>
      <div class="pure-u content">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <ul>
                <li><a href="/">Главная</a></li>
                <li>>></li>
                <li class="pure-menu-selected"><a href="#">Последние посты</a></li>
            </ul>
          </div>
          <section class="pure-u-1">
              <header class="post-header">
                  <h2 class="post-title pure-u-1">Что может сделать кот, уснув на клавиатуре</h2>
                  <p class="post-meta pure-u-1">
                    <span class="post-date">10.07.2013</span>
                    <a class="post-category post-category-js" href="#">Cats</a>
                  </p>
              </header>

              <div class="post-description pure-u-1">
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ну много всего короче...
                  </p>
              </div>
          </section>
      </div>
    </div>
  </body>
</html>

